<div class="panel panel-default" id="outings">
	<div class="panel-heading">
    <h1 class="panel-title">Uscite</h1>
  </div>
  <% if current_user.role == 'admin' %>
  <div class="panel-body">
	<span>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-outing-modal">Nuova uscita</button>
      </span>
  </div>
  <% end %>
  <table class="table">
    <tbody>
	<% if @outings != nil %>
      <% @outings.each do |outing| %>
         <tr>
			<td><%= outing.day %><br />
              <%= outing.location %><br />
              <%= outing.time %>
			  <% if current_user.role == 'admin' %>
			  <hr>
			  <%= link_to 'Modifica', edit_outing_path(outing) %><%= link_to 'Elimina', outing, method: :delete, data: { confirm: 'Sei sicuro?' } %>
			  </td>
			
		  <% end %>
		</tr>
      <% end %>
	  <% end %>
    </tbody>
  </table>
  <% if @outings != nil %>
  <span><center><%= will_paginate @outings, previous_label: 'Precedente', next_label: 'Successivo' %></center></span>
	<% end %>
</div>